<?xml version="1.0"?>
<launch>

  <arg name="model" default="$(find two_wheel)/urdf/robo.xacro"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find two_wheel)/urdf/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node if="$(arg gui)" name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
