<?xml version="1.0"?>
<launch>

  <arg name="File_Name" default="data2.csv"/>

  <node name="PID_output_plotter" pkg="two_wheel" type="PID_csv_outputter.py" output="screen">
    <param name="csv_path" value="$(find two_wheel)/csv/$(arg File_Name)"/>]
  </node>
  <node name="Arduino_node" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="/dev/ttyACM0"/>
  </node>


</launch>
