<?xml version="1.0"?>
<launch>

  <arg name="Left_name" default="L_data.csv"/>
  <arg name="Right_name" default="R_data.csv"/>

  <node name="Two_motor_target_Publisher" pkg="two_wheel" type="PID_two_motor_target.py" output="screen"/>

<!--Right Wheel-->
  <group ns="Right_wheel">
    <node name="csv_output" pkg="two_wheel" type="csv_outputter.py">
      <param name="csv_path" value="$(find two_wheel)/csv/$(arg Right_name)"/>
      <remap from="/rpm_data" to="/Right_wheel_rpm_data"/>
    </node>

    <node name="Arduino_node" pkg="rosserial_python" type="serial_node.py">
      <param name="port" value="/dev/ttyS2"/>
    </node>
  </group>

<!-- Left Wheel -->
  <group ns="Left_wheel">
    <node name="csv_output" pkg="two_wheel" type="csv_outputter.py">
      <param name="csv_path" value="$(find two_wheel)/csv/$(arg Left_name)"/>
      <remap from="/rpm_data" to="/Left_wheel_rpm_data"/>
    </node>

    <node name="Arduino_node" pkg="rosserial_python" type="serial_node.py">
      <param name="port" value="/dev/ttyS1"/>
    </node>
  </group>

</launch>
