<?xml version="1.0"?>
<!-- 2つのArduinoと2つのモーターを使用 -->
<!-- 回転半径Rのカーブを走行時の左右モーターの速度制御 -->
<launch>

  <arg name="Right_name" default="R-rpm.csv"/>
  <arg name="Left_name" default="L-rpm.csv"/>

  <node name="Two_motor_target_Publisher" pkg="two_wheel" type="TargetRPM_Publisher2.py" output="screen"/>

<!--Right Wheel-->
  <group ns="Right_wheel">
    <node name="csv_output" pkg="two_wheel" type="RotationSpeedRecorder1.py">
      <param name="csv_path" value="$(find two_wheel)/csv/$(arg Right_name)"/>
      <remap from="/rpm_data" to="/Right_wheel_rpm_data"/>
    </node>

    <node name="Arduino_node" pkg="rosserial_python" type="serial_node.py">
      <param name="port" value="/dev/ttyACM0"/>
    </node>
  </group>

<!-- Left Wheel -->
  <group ns="Left_wheel">
    <node name="csv_output" pkg="two_wheel" type="RotationSpeedRecorder1.py">
      <param name="csv_path" value="$(find two_wheel)/csv/$(arg Left_name)"/>
      <remap from="/rpm_data" to="/Left_wheel_rpm_data"/>
    </node>

    <node name="Arduino_node" pkg="rosserial_python" type="serial_node.py">
      <param name="port" value="/dev/ttyACM1"/>
    </node>
  </group>

</launch>
