<?xml version="1.0"?>
<launch>
  <arg name="filename" default="TestRealPath.csv"/>

  <node name="Speed_Publisher" pkg="two_wheel" type="Speed_test.py" output="screen"/>

  <node name="Localization" pkg="two_wheel" type="Odometry2.py"/>

  <node name="PathRecorder" pkg="two_wheel" type="PathRecorder.py">
        <param name="csv_path" value="$(find two_wheel)/csv/$(arg filename)"/>
  </node>

   <node name="Arduino_node" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="/dev/ttyACM0"/>
  </node>

</launch>
