<?xml version="1.0"?>
<launch>
  <arg name="filename" default="TestRealTrackingTrajectory.csv"/>

  <node name="Speed_Publisher" pkg="two_wheel" type="Speed_test.py" output="screen"/>

  <node name="Localization" pkg="two_wheel" type="Odometry2.py" output="screen"/>
<!--
  <node name="TrajectoryRecorder" pkg="two_wheel" type="TrajectoryRecorder.py">
        <param name="csv_path" value="$(find two_wheel)/csv/$(arg filename)"/>
  </node>
-->
   <node name="Arduino_node" pkg="rosserial_python" type="serial_node.py">
    <param name="port" value="/dev/ttyACM0"/>
  </node>

</launch>
